<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :idea_id %>
  <%= f.hidden_field :user_name, value: "Guest" %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_area :body, class: "mdl-textfield__input", id: "comment" %>
    <label for="comment" class="mdl-textfield__label">Join the discussion</label>
  </div>

  <%= f.button type: :submit, class: "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" do %>
    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
  <% end %>
<% end %>
