<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

     <div class="demo-blog <%= "demo-blog--blogpost" if params[:action] != "index" %> mdl-layout mdl-js-layout has-drawer is-upgraded">
       <main class="mdl-layout__content">

  <%= yield %>


         <footer class="mdl-mini-footer">
           <div class="mdl-mini-footer--left-section">
             <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
               <span class="visuallyhidden">Twitter</span>
             </button>
             <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
               <span class="visuallyhidden">Facebook</span>
             </button>
             <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
               <span class="visuallyhidden">Google Plus</span>
             </button>
           </div>
           <div class="mdl-mini-footer--right-section">
             <button class="mdl-mini-footer--social-btn social-btn__share">
               <i class="material-icons" role="presentation">share</i>
               <span class="visuallyhidden">share</span>
             </button>
           </div>
         </footer>
       </main>
       <div class="mdl-layout__obfuscator"></div>
     </div>

   <script>
     Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
       var link = el.querySelector('a');
       if(!link) {
         return;
       }
       var target = link.getAttribute('href');
       if(!target) {
         return;
       }
       el.addEventListener('click', function() {
         location.href = target;
       });
     });
   </script>








</body>
</html>
